
 
  .entete {
      background-color: #bf0909;
      text-align: center;
      color: white;
      font-weight: bolder;
      margin-right: 50px;
  }

  .le-corps{
      background-color: #d9d9d9;
  }
  .table-hover{
      background-color: white;
  }
  .titre{
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
text-decoration: underline;
font-size: 20px;
  }
  div#list_de_trucs{
	margin:10px auto;
	width:100%;
	min-width:400px;
	max-width:700px;
	}
	div#list_de_trucs table{
	margin:0px;
	width:100%;
	}

  
